{% extends "../_base.htm" %}

{% block bodycontent %}
	<h1>Nueva cv</h1>
	<form method="post" action="/cv/editar">
		Nombres :<input type="text" name="nombres" size="60" {% if cv %} value="{{cv.nombres}}" {% endif %}/>
		Apellidos :<input type="text" name="apellidos" {% if cv %} checked="true" {% endif %} />
		Nacionalidad :<input type="text" name="nacionalidad" size="60" {% if cv %} value="{{cv.nacionalidad}}" {% endif %} />
		Fecha Nacimiento:<input type="date" name="fecha_nacimiento" cols="%100" rows="30"> {%if cv %} {{cv.fecha_nacimiento }} {% endif %} </input>
		Email :<input type="email" name="email" size="60" {% if cv %} value="{{cv.email}}" {% endif %} />
		<input type="submit" name="Entrada" />
		{% if cv %}
			<input type="hidden" name="key" value="{{cv.key}}" />
			
		{% endif %}
	</form>
{% endblock %}
