{% extends "../_base.htm" %} 
{% block sidebar %}
	{% if admin %} <a href="/cv/editar{% if cv.key%}?key={{cv.key}} {% endif %}" >Editar Datos</a> {% endif %}
{% endblock %}
{% block content %}
	<div id="single-page" class="clearfix">
		<div id="primary">
			<div id="content" role="main">
				<header class="page type-page status-publish hentry entry-header">
					<h1 class="page=title">Curriculum Vitae </h1>
				</header>
				<h2> Datos personales </h2>
					<ul>
						<li>Nombres : {{cv.nombres}}</li>
						<li>Apellidos : {{cv.apellidos }}</li>
						<li>Nacionalidad : {{cv.nacionalidad}} </li>
						<li>Fecha nacimiento : {{cv.fecha_nacimiento}} </li>
						<li>E-mail : {{cv.email}} </li>		
					</ul>
					<h2> Idiomas </h2>
						<ul>
							<li> Ingles </li>
						</ul>
					<h2> Tecnologias </h2>
						<ul>
							<li> Python,Smalltalk,PHP,C/C++,Java,HTML,CSS </li>
						</ul>
					<h2> Estudios </h2>
						<ul>
							<li> <span> Licenciado en ciencias de la computacion(esperado 2012) </span> Universidad de Buenos Aires,<a href="http://exactas.uba.ar/">Facultas de ciencias Exactas </a></li>
							<li> <span>Analista Universitatio de computacion </span> Universidad de Buenos Aires, <a href="http://exactas.uba.ar/" >Facultad de ciencias Exactas </a></li>
						</ul>
					<h2> Laboral </h2>
						<ul>
							<li><a href="http://www.teracode.com"> Teracode, offshore</a> | Desarollador y Calidad. <a href="http://www.symfony-project.org/" >PHP/Symfony</a>  | Oct2008 - Jul2009</li>
							<li>Tindat | Desarrollador en FoxPro y .NET | Nov2006 - Oct2008</li>
						</ul>
	<!-- <h2> Tiempo libre </h2>
	<ul> 

	</ul> -->
			</div>
		</div>
	</div>
{% endblock %}
