<h1 class="big">{{ title }}</h1>
<div class="meta"><h2 class="text_entry"><span>Posted on </span>{{ date-with-month date }}</h2></div>
<span class="glyphicon glyphicon-tag tags ">
    {{#each tags }}
        {{ this }}
    {{/each}}
</span>
<article>
    {{ safestring body }}
</article>
<div class="meta"></div>
