@import 'nib'
@import url(http://fonts.googleapis.com/css?family=Source\+Sans\+Pro:300,400,300italic,400italic)
@import url(http://fonts.googleapis.com/css?family=Open\+Sans:400,700,300)

html, body
  font-family "Helvetica Neue",Helvetica,Arial,sans-serif
  color #808080

h1, h2, h3, h4, h5, h6
    color #333333

h1.about_name
    color #000000
    font-family Open Sans
    font-size 40px
    font-weight 700
    letter-spacing 1px
    line-height 50px
    padding-top 30px
    text-align center

h2.about_activity
    color #000000
    font-size 21px
    text-align center
    font-family Open Sans
    font-weight 400
    line-height 100%


img
    border 1px solid #DDDDDD
    float left
    margin 15px

ul
    list-style-type none

h1.text_entry
    font-family 'Fjalla One',sans-serif
    font-size 72px
    letter-spacing 4px
    margin-bottom 20px
    margin-top 0
    text-align center
    text-transform uppercase
    word-spacing 10px

h2.text_entry
    background none repeat scroll 0 0 #FFFFFF
    display inline-block
    font-family 'Fjalla One',sans-serif
    font-size 18px
    letter-spacing 3px
    margin 0
    padding 0 20px
    position relative
    text-transform uppercase
    top -12px
    word-spacing 10px

.meta
    border-top 1px solid #333333
    text-align center

.top-nav-bar-link
    font-family 'Patua One'
    font-size 18px
    text-transform uppercase
    text-shadow 0 1px 0 rgba(0, 0, 0, 0.7)

.active
    color #FF66AA

article p
    font-size 22px
    margin-bottom 1em
    text-align justify

p code
    background none repeat scroll 0 0 #444444
    border-radius 0.3em
    color #FFFFFF
    padding 0.1em 0.3em 0.2em
    position relative
    top -0.15em
    white-space nowrap
