{% extends "../_base.htm" %} 
{% block sidebar %} 
  {% if admin  %}<a href="/blog/admin"> Administracion </a> {% endif %}
{% endblock %}
{% block content %}
  <div id="single-page" class="clearfix blog left-sidebar">
    <div id="primary" class="center" >
      <div id="content" role="main">
        <header class="page type-page status-publish hentry entry-header" >
          <h1 class="page-title"> Blog </h1>
        </header>
        {% for entry in entries %}
          <article class="post type-post status-publih format-standard hentry category-blog tag-blog tag-dreaming clearfix">
          <div class="date-badge">
            {{entry.published_at.day}}
            <span>{{entry.published_at|date:"M"}} </span>
          </div>
          <div class="entry">
            <h2 class="entry-title" >
              <a href="/blog/entry/{{entry.slug}}" > {{entry.title }}</a> 
            </h2>
            <div class="entry-image">
              <img height="180" width="600" title="Check" alt="Check" class="fade-image" src="/blog/image?slug={{entry.slug}}">
              <div class="clearfix">
              <div class="entry-content">
                {{entry.intro}}
	        <a href="/blog/entry/{{entry.slug}}">Continuar Leyendo... {{entry.titulo}}</a>
              </div>	
            </div>
            <div class="clearfix entry-meta" >
              <ul>
                <li>
                  Publicado : {{entry.published_at|date:"d M Y" }}
                </li>
              </ul>
            </div> 
          </div>
        </div>
        </article>
        <hr class="shortcode" noshade="noshade">
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
