{% extends "../_base.htm" %} 
{% block sidebar %} 
  {% if admin  %}<a href="/blog/admin"> Administracion </a> {% endif %}
{% endblock %}
{% block content %}
  <div id="single-page" class="clearfix blog left-sidebar">
    <div id="primary" class="center" >
      <div id="content" role="main">
        <header class="page type-page status-publish hentry entry-header" >
          <h1 class="page-title"> Blog </h1>
        </header>
        {% for entry in entries %}
            {{ entry.title }} 
            {% include entry.view_template %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
