{% extends "../_base.htm" %}

{% block content %}
  <h1>New entry</h1>
  <form method="post" action="/blog/admin/new_entry" enctype="multipart/form-data" >
    Title :<input type="text" name="title" size="60" {% if entry %}
    value="{{entry.title}}" {% endif %}/><br/>
    Introduction :<textarea type="text" name="intro" cols="90" rows="5"> {% if entry %} {{entry.intro}} {% endif %} </textarea><br/>
    Photo: <input type="file" name="photo"><br/>
    Draft :<input type="checkbox" name="draft" {% if entry.draft %}
    checked="true" {% endif %} /><br/>
    Slug :<input type="text" name="slug" size="60" {% if entry %}
    value="{{entry.slug}}" {% endif %} /><br/>
    Text:<textarea type="text" name="text" cols="90" rows="30"> {%if entry %}
        {{entry.text }} {% endif %} </textarea><br/>
    <input type="submit" name="Entry" value="Submit"/><br/>
    {% if entry %}
      <input type="hidden" name="key" value="{{entry.key}}" /><br/>
    {% endif %}
  </form>
{% endblock %}
