	h2, h3, h4, h5, h6, h7, #welcomeTeaser, .max_widget_teaser {
				font-family: "Yanone Kaffeesatz","Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 300;
	}
	
	body, #sidebar .widget { 
				font-size:  12px !important;
				font-family: "PT Sans","Helvetica Neue", Helvetica, Arial, sans-serif; 
	}
	#welcomeTeaser { font-size: 26px; width:300px; }
	#welcomeTeaser .inner strong { font-size: 36px; }


/* general styles */

body {
	  background-color: #F7F7F7;
	  font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	  font-size: 12px !important;
	  line-height: 1;
}

a,a:link,a:visited { text-decoration: none; }

header,footer,nav,articles { display:block; }

h1, h2, h3, h4, h5 {
	    font-weight: normal;
}

h1, h1 a:link, h1  {
	color: rgba(0, 0, 0, 0.8);
}

h1 {
	font-family: 'OFL Sorts Mill Goudy TT',Georgia,serif;
	font-size: 42px;
	line-height: 60px;
	margin-bottom: 15px;
	text-align: center;
}

:link, a:visited { color: #5aa8e5 }
/* generic classes */
.clearfix {
	    display: block;
   }

.entry-meta { font-size: 12px; border: 1px solid transparent; border-width: 1px 0; padding-bottom: 4px; margin-bottom: 20px; }
.entry-meta li {
	display: block;
	float: right;
	font-size: 12px;
	line-height: 20px;
	margin-right: 20px;
	padding: 8px 0 0;
	border-color: #222222;
	color: #868686;
}
/* Top main navigation */
nav#navigation {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;	
	width: 660px;
	z-index: 100;
}

nav#navigation ul {
	margin: 0;
	padding: 0 10px;
	list-style: none;
}

nav#navigation {background: url("img/bg-scanlines.png") repeat scroll 0 0 transparent;}
nav#navigation ul li {
	float: left;
	margin: 0 10px;
	position: relative;
	z-index: 20;
}
nav#navigation ul a {
	border-bottom: 3px solid transparent;
	float: left;
	font-size: 13px;
	font-weight: normal;
	padding: 22px 0 5px;
	text-transform: uppercase;
}

nav#navigation ul a {
	    color: #AAAAAA;
    }


nav#navigation ul li:hover { visibility: inherit; }

nav#navigation ul ul li { width: 100%; }

nav#navigation ul a:hover {
	text-decoration: none;
	color: #fff;
	border-color:#5AA8E5;
}



nav#navigation li li a:hover { background: none }

nav#navigation li a span {
    display: block;
    padding: 0;
    float: left;
    cursor: pointer;
}

nav#navigation li li a span { padding: 0; }

#branding {
	margin: 0 auto;
	width:660px;
}

/* main container */
#main {
	margin: 0 auto;
	padding: 70px 0 0;
	position: relative;
	width: 660px;
}

#primary {
	 background: none repeat scroll 0 0 #FFFFFF;
	     padding: 30px;
	         position: relative;
	float: right;
	margin-top: 0;
	width: 600px;
}

/* portfolio image */

.wp-caption {
	border: 3px solid #999999;
	border-radius: 2px 2px 2px 2px;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
}

.wp-caption-text {
	background-color: #333333;
	border-top: 1px solid #666666;
	color: #EEEEEE;
	padding: 5px 10px;
}

/* blog */
.blog .date-badge { 
	position: absolute; 
	left: 0; 
	top: 0;
	font-size: 30px; 
	line-height: 32px; 
	text-align: center;
	width: 58px;
	padding-top: 10px;
	height: 58px;
	border: 2px solid transparent;
	border-width: 0 5px 5px 0
}
.blog .date-badge span { font-size: 16px; display: block; line-height: 15px; }

.blog h2.entry-title {  line-height: 30px; padding-left: 80px; font-size: 28px; }
.blog .read-more { font-size: 14px; text-align: right; }
.blog article { position: relative; }

	.blog .date-badge{
		background-color: #5aa8e5;
	}	

.blog .date-badge {
	    border-color: #111111;
	        color: #FFFFFF;
	}

/*home styles */

#welcomeTeaser {
	font-weight: 200;	
	width: 235px;
	font-size: 26px;
	line-height: 28px;
	margin: 20px 0;
	float:left;
	margin:10px;
	text-transform: uppercase;
	text-align: justify;
}
#welcomeTeaser .inner { display: block; padding: 20px }
#welcomeTeaser .inner strong { font-size: 34px; font-weight: normal; }

#welcomeTeaser, .max_widget_teaser {
	background: transparent url('img/bg-scanlines.png') repeat 0 0; 
	color: #ddd;
}
