<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
	<title>{% block title %}App Engine - HTML {% endblock %}</title> 
	<meta name="google-site-verification" content="2t1J0UdxN2HwNgvGnuIdtKy8zJkt3hM2HO0MtwoXKd0" />
	<link href="/static/main.css" rel="stylesheet" type="text/css" />
	<link href="/static/black.css" rel="stylesheet" type="text/css" />
	<link href="/static/blue.css" rel="stylesheet" type="text/css" />
<!--	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://www.google.com/jsapi"></script> -->
	<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic">
	<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:extralight,light,regular,bold">
	<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/jquery.livequery.js"></script>
	<script type="text/javascript" src="/static/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="/static/jquery.easing.js"></script>
	<script type="text/javascript" src="/static/custom.js"></script>
	<script type="text/javascript" src="/static/script.js"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-20080766-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
<style type="text/css">
	h2, h3, h4, h5, h6, h7, #welcomeTeaser, .max_widget_teaser {
				font-family: "Yanone Kaffeesatz","Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: 300;
	}
	
	body, #sidebar .widget { 
				font-size:  12px !important;
				font-family: "PT Sans","Helvetica Neue", Helvetica, Arial, sans-serif; 
	}
	#welcomeTeaser { font-size: 26px; width:300px; }
	#welcomeTeaser .inner strong { font-size: 36px; }
				
</style>
</head> 
	<body>
		<header id="branding" role="banner">
			<!--<hgroup class="navbar">
				<h1 id="site-title"> LALALALALA</h1>
			</hgroup> -->
			<nav id="navigation" role="navigation" style="top: 0px;">
				<div id="navHolder">
					<ul id="menu-main-menu" class="sf-menu sf-js-enabled">
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home" id="menu-item-32">
                                                <a href="{{ host }}"><span>Home</span></a>
						</li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home" id="menu-item-32">
                                                <a href="{{ host }}/blog"><span>Blog</span></a>
						</li>
						<!--<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home" id="menu-item-32">
							<a href="http://www.lazzaroleonardo.com.ar/cv/"><span>Curriculum Vitae</span></a>
						</li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home" id="menu-item-32">
							<a href="http://www.lazzaroleonardo.com.ar/projectos/"><span>Projects</span></a>
						</li>	
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home" id="menu-item-32">
							<a href="http://www.lazzaroleonardo.com.ar/photos/"><span>Photos</span></a>
						</li>

						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home" id="menu-item-32">
							<a href="http://www.lazzaroleonardo.com.ar/portfolio/"><span>Portfolio</span></a>
						</li>
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home" id="menu-item-32">
							<a href="http://www.lazzaroleonardo.com.ar/contact/"><span>Contact</span></a>
						</li> -->
					</ul>
				</div>
			</nav>
		</header>
		<div id="main" class="clearfix">
			{% block content %} {% endblock %}
		</div>
		<div id="sidebar" >
			{% block sidebar %} {% endblock %}
		</div>
		<!--<footer id="colophon" role="contentinfo">
			<a href="http://ar.linkedin.com/in/llazzaro" ><img src="/static/img/linkedin.png" alt="linkedin profile"></a>
			<a href="http://www.facebook.com/lazzaroleonardo"><img src="/static/img/fb.png" alt="facebook profile"></a>
			<a href="http://twitter.com/#!/llazzaro" ><img src="/static/img/twitter.png" alt="twitter profile"></a>
			<a href="http://www.flickr.com/photos/llazzaro/" ><img src="/static/img/flickr.png" alt="flickr profile"></a>
			<a href="https://github.com/llazzaro" ><img src="/static/img/github.png" alt="github profile"></a>
			<a href="http://stackoverflow.com/users/127153/llazzaro" ><img src="/static/img/stackoverflow.ico" alt="stackoverflow profile"></a>
			<a href="http://serverfault.com/users/15693/llazzaro" ><img src="/static/img/serverfault.ico" alt="serverfault profile"></a>
			<a href="http://superuser.com/users/27760/llazzaro" ><img src="/static/img/superuser.ico" alt="superuser profile"></a>
			<a href="http://snippets.scrapy.org/users/llazzaro/" ><img src="/static/img/scrapy.ico" alt="scrapy snippets profile"></a>
			<a href="http://soundcloud.com/lcubo"><img src="/static/img/soundcloud.ico" width="16px" height="16px" alt="soundcloud profile"></a>
		</footer> -->
		<script type="text/javascript">
		    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		    var disqus_shortname = 'example'; // required: replace example with your forum shortname

		    /* * * DON'T EDIT BELOW THIS LINE * * */
		    (function () {
			var s = document.createElement('script'); s.async = true;
			s.type = 'text/javascript';
			s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		    }());
		</script>
	</body
</html>
