{% extends "_base.htm" %}
{% block content %}
	<div id="primary">
		<header class="page type-page status-publish hentry entry-header" >
			<h1 class="page-title"> Contact </h1>
		</header>
		<div id="content" class="clearfix" role="main">
			<div class="clearfix">
				<form id="contactForm" method="POST" action="">
					<ul>
						<li> 
							Your name:<span class="required">*</span>
							<input class="required requiredField" type="text" name="name">
						</li>
						<li> 
							Your email:<span class="required">*</span>
							<input class="required requiredField" type="text" name="email">
						</li>
						<li> 
							Your message:<span class="required">*</span>
							<textarea class="required requiredField" rows="5" cols="50" name="message">
							</textarea>
						</li>
						<li>
							<button name="button_contact_submit" type="submit">Send Message</button>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
