{% extends "_base.htm" %} 
{% block sidebar %}
	<div id="welcomeTeaser">
			<span class="inner">
				Hi, my name is <strong>Leonardo Lazzaro</strong>. 
				Im a Computer Science Student living in the city of <strong>Buenos Aires,</strong> 
				in <strong>Argentina</strong>. 
				Check out my work in my blog and also my online Portfolio.</span>
	</div>	
{% endblock %}
{% block content %}
	<h2>App Engine: About</h2> 
	<p> 
		Welcome to the site dedicated to learning Google App Engine.
		We hope you find www.appenginelearn.com useful.
	</p> 

	<a href="http://ar.linkedin.com/in/llazzaro" ><img src="/static/img/linkedin.png" alt="linkedin profile"></a>
	<a href="http://www.facebook.com/lazzaroleonardo"><img src="/static/img/fb.png" alt="facebook profile"></a>
	<a href="http://twitter.com/#!/llazzaro" ><img src="/static/img/twitter.png" alt="twitter profile"></a>
	<a href="http://www.flickr.com/photos/llazzaro/" ><img src="/static/img/flickr.png" alt="flickr profile"></a>
	<a href="https://github.com/llazzaro" ><img src="/static/img/github.png" alt="github profile"></a>
	<a href="http://stackoverflow.com/users/127153/llazzaro" ><img src="/static/img/stackoverflow.ico" alt="stackoverflow profile"></a>
	<a href="http://serverfault.com/users/15693/llazzaro" ><img src="/static/img/serverfault.ico" alt="serverfault profile"></a>
	<a href="http://superuser.com/users/27760/llazzaro" ><img src="/static/img/superuser.ico" alt="superuser profile"></a>
	<a href="http://snippets.scrapy.org/users/llazzaro/" ><img src="/static/img/scrapy.ico" alt="scrapy snippets profile"></a>
	<a href="http://soundcloud.com/lcubo"><img src="/static/img/soundcloud.ico" width="16px" height="16px" alt="soundcloud profile"></a>
{% endblock %}
