{% extends "_base.htm" %} 
{% block content %}
	<div id="welcomeTeaser">
			<span class="inner">
				Hi, my name is <strong>Leonardo Lazzaro</strong>. 
				Im a Computer Science Student living in the city of <strong>Buenos Aires, Argentina</strong>. 
				Check out my work in my blog and also my online Portfolio.
			</span>
	</div>
	<div id="welcomeTeaser">
			<span class="inner">
                            Other <strong>networks</strong><br/>
                            {% for network in networks %}
                              <a href="{{network.link}}"><img src="http://{{network.favicon}}" alt="{{network.name}}" title="{{network.name}}"></a>
                            {% endfor %}
			</span>
	</div>
<!--	<div id="welcomeTeaser">
			<span class="inner">
				My current location is the city of <strong>Buenos Aires</strong>, in <strong>Argentina</strong>
			</span>
                    </div>-->
{% endblock %}
