{% extends "../_base.htm" %}

{% block bodycontent %}
	<h1>Nueva foto en galeria {{galeria.nombre}}</h1>
	<form method="post" action="/fotos/admin/foto_nueva">
		Nombre :<input type="text" name="titulo" size="60" {% if foto %} value="{{foto.nombre}}" {% endif %}/>
		Link :<input type="text" name="link" {% if foto.link %} value="{{foto.link}}" {% endif %} />
		Descripcion :<textarea type="text" name="descripcion" cols="%100" rows="30"> {%if foto %} {{foto.descripcion }} {% endif %} </textarea>
		<input type="hidden" name="galeria" {% if galeria %} value="{{galeria.key}}" {% endif %} />
		<input type="submit" name="Entrada" />
		{% if foto %}
			<input type="hidden" name="key" value="{{foto.key}}" />
			
		{% endif %}
	</form>
{% endblock %}
