<div class="center-content about">
  <div class="row">
    <div class="col-md-7">
      <h1>About</h1>
      <p>I'm a computer science student living in Buenos Aires, Argentina.<p>
      <p>I mainly do software development in python, in particular backends, but recently I had been attracted by javascript framework like Backbone and Ember.
      </p>
      <p>I enjoy a lot the idea of contibute to open source</p>
    </div>
    <div class="col-md-3">
      <img data-src="holder.js/100%x180" alt="...">
    </div>
  </div>
  <div class="row">
    <p>My PGP key  is <a href="http://pgp.mit.edu:11371/pks/lookup?op=get&search=0x45e1ecde06521134">0x45e1ecde06521134</a>.</p>
    <p>My key finger print is:</p>
    <div class="key">
    <pre>
    pub   2048R/06521134 2014-03-20 [expires: 2018-03-19]
          Key fingerprint = 333F A389 A476 90F7 8E37  78EE 45E1 ECDE 0652 1134
          uid                  Leonardo Luis Lazzaro (Personal Key) <lazzaroleonardo@gmail.com>
          sub   2048R/ED05A98D 2014-03-20 [expires: 2018-03-19]
          </pre>
    </div>
  </div>
</div>
