<div class="row">
    <div class="col-md-1">
        <img src="images/profile.jpg" title="That`s me!" alt="My Profile">
    </div>
    <div class="col-md-5">
        <h1 class="about_name pull-right">Leonardo Lazzaro</h1>
        <h2 class="about_activity">python developer</h2>
    </div>
    <div class="col-md-4">
        <ul>
            <li><i class="fa-home"></i> Capital Federal, C1039AAE</li>
            <li>Buenos Aires, Argentina</li>
            <li><i class="fa-envelope-alt"></i> lazzaroleonardo (at) gmail (dot) com</li>
            <li><i class="fa-phone"></i> (not shown)</li>
            <li><a href="https://twitter.com/llazzaro"><i class="fa-twitter"></i></a>
            <a href="https://www.facebook.com/lazzaroleonardo"><i class="fa-facebook"></i></a>
            <a href="#"><i class="fa-google-plus"></i></a>
            <a href=""><i class="fa-github"></i></a></li>
        </ul>
    </div>
</div>

<!-- Skills -->
<div class="row">
    <div class="col-md-1">
        <h3>Skills</h3>
    </div>
    <div class="col-md-12 col-md-offset-1">
        <div class="row-fluid skills">
            <ul class="col-md-4">
                <li><h4>Profesional Programming</h4></li>
                <li><strong>Python</strong> - SQLAlchemy, Pyramid, Django</li>
                <li><strong>Javascript</strong> - Backbone, Ember</li>
                <li><strong>PHP</strong> - Symfony, Doctrine</li>
                <li><h4>Hobby Programming</h4></li>
                <li><strong>SmallTalk</strong></li>
            </ul>
            <ul class="col-md-4">
                <li><h4>Languages</h4></li>
                <li><strong>English</strong> - Intermediate </li>
                <li><strong>Spanish</strong> - Native</li>
            </ul>
        </div>
    </div>
</div>

<!-- Education -->
<div class="row">
    <div class="col-md-1">
        <h3>Education</h3>
    </div>
    <div class="col-md-11 col-md-offset-1">
        <h4>Computer Science - University of Buenos Aires</h4>
        <h5>2005-current</h5>
    </div>
</div>

<!--
<div class="row">
<div class="col-md-1">
    <h3>Work Experience</h3>
</div>
<div class="col-md-11 col-md-offset-1">
    <h4>Company Name</h4>
    <h5>2001-current</h5>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua.</p>
</div>
</div>

<div class="row">
<div class="col-md-1">
    <h3>Interests</h3>
</div>
<div class="col-md-11 col-md-offset-1">
    <h4>Traveling</h4>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua</p>
    <h4>Reading</h4>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua</p>
    <h4>Books</h4>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua</p>
</div>
</div>
-->
