<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right">
          <li>{{#link-to 'archives' classNames="top-nav-bar-link" }}Archive{{/link-to}}</li>
          <li>{{#link-to 'photos' classNames="top-nav-bar-link" }}Photos{{/link-to}}</li>
          <li>{{#link-to 'about' classNames="top-nav-bar-link" }}About{{/link-to}}</li>
        </ul>
    </div>
  </div>
</div>

<div class="container">
    {{outlet}}
</div>

<footer>
</footer>
