<div class="center-content">
<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
              <h1>Archive</h1>
          <div class='container recent_archives'>
            <table class="table">
                {{#each model}}
                    <tr>
                    <td>{{ date-on-days date}}</td><td>{{#link-to 'archive' this}}{{title}} {{/link-to}}</td>
                    </tr>
                {{/each}}
            </table>
          </div>
        </div>
        <div class="span9">
          {{outlet}}
        </div>
      </div>
    </div>
</div>
