<div class="full-content">
    {{#each contentWithIndexes}}
        <div class="row odd">
          <div class="post_preview">
            <h1 class="big odd" class="text_entry">{{#link-to 'archive' this.item}}{{this.item.title}} {{/link-to}}</h1>
            <p class="meta odd"><span>Posted on </span>{{ date-with-month this.item.date }}</p>
            <span class="glyphicon glyphicon-tag tags odd">
                {{#each this.item.tags }}
                    {{ this }}
                {{/each}}
            </span>
            <div>{{ trim this.item.body}}</div>
            {{#link-to 'archive' this.item classNames="sheet-read-more"}} Read more... {{/link-to}}
          </div>
        </div>
    {{/each}}
</div>
