{{#each contentWithIndexes}}
      <div class="center-content">
        <h1 class="big" class="text_entry">{{#link-to 'archive' this.item}}{{this.item.title}} {{/link-to}}</h1>
        <div class="meta"><h2 class="text_entry"><span>Posted on </span>{{ date-with-month this.item.date }}</h2></div>
        <span class="glyphicon glyphicon-tag tags ">
            {{#each this.item.tags }}
                {{ this }}
            {{/each}}
        </span>
        <div>{{ trim this.item.body}}</div>
        {{#link-to 'archive' this.item classNames="sheet-read-more"}} Read more... {{/link-to}}
      </div>
{{/each}}
